@use "@fontsource/noto-sans-display/scss/mixins" as NotoSansDisplay;
@import "./global";

@include NotoSansDisplay.fontFaceVariable($weight: 400);

* {
    box-sizing: border-box;
}

:root {
    --color-bg: white;
    --color-bg-milkglass: rgba(white, .75);

    --color-fg: #232129;

    @media(prefers-color-scheme: dark) {
        --color-bg: #09080d;
        --color-bg-milkglass: rgba(#09080d, .75);
    
        --color-fg: #e8e5f3;
    }
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans Display", sans-serif;
    color: var(--color-fg);
    background-color: var(--color-bg);
    font-size: 1.025rem;
}

a {
    color: inherit;
    text-decoration: underline dotted currentColor;
}